@if (character != undefined) {
    
    <div class="container" (mousemove)="applyPerspective($event)" (click)="showCharacterData()" title="Show character data">
        <div class="character-container" #characterContainer>
            <div class="img-container">
                <img src="{{ character.image }}">
                <div class="img-fading"></div>
            </div>
            <div class="character-properties">
                <div>
                    <h2 *ngIf="character.name">{{ character.name }}</h2>
                    <div class="character-status-specie">
                        <div *ngIf="character.status.toLowerCase() == 'alive'" class="alive"></div>
                        <div *ngIf="character.status.toLowerCase() == 'dead'" class="dead"></div>
                        <div *ngIf="character.status.toLowerCase() == 'unknown'" class="unknown"></div>
                        <span *ngIf="character.status && character.species">{{ character.status }} - {{ character.species }}</span>
                    </div>
                </div>
                <div>
                    <div class="text-gray">Last known location:</div>
                    <a href="{{ character.location.url }}">{{ character.location.name }}</a>
                </div>
                <div>
                    <div class="text-gray">First seen in:</div>
                    <div>{{ character.episode[0] }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" #modal>
        <div class="modal-heading">
            <div>
                <div>URL: <a target="_blank" rel="noopener noreferrer" href="https://rickandmortyapi.com/api/character/{{ character.id }}">https://rickandmortyapi.com/api/character/{{ character.id }}</a></div>
                <div>CharacterDetailsComponent: <a (click)="hideCharacterData()" [routerLink]="['character', character.id]">{{ serverUrl }}/character/{{ character.id }}</a></div>
            </div>
            <div (click)="hideCharacterData()" class="close-modal">X</div>
        </div>
        <pre>{{ character | json }}</pre>
    </div>
    
}