@if (character != undefined) {

    <div class="container" (mousemove)="applyPerspective($event)" (click)="showCharacterData()" title="Show character data">
        <div class="character-container" #characterContainer>
            <div class="img-container">
                <img src="{{ character.image }}">
                <div class="img-fading"></div>
            </div>
            <div class="character-properties">
                <span *ngIf="character.id">ID: {{ character.id }}</span>
                <span *ngIf="character.name">Name: {{ character.name }}</span>
                <span *ngIf="character.status">Status: {{ character.status }}</span>
                <span *ngIf="character.species">Specie: {{ character.species }}</span>
                <span *ngIf="character.type">Type: {{ character.type }}</span>
                <span *ngIf="character.gender">Gender: {{ character.gender }}</span>
            </div>
        </div>
    </div>
    <div class="modal" #modal>
        <div class="modal-heading">
            <div>URL: <a target="_blank" rel="noopener noreferrer" href="https://rickandmortyapi.com/api/character/{{ character.id }}">https://rickandmortyapi.com/api/character/{{ character.id }}</a></div>
            <div (click)="hideCharacterData()" class="close-modal">X</div>
        </div>
        <pre>{{ character | json }}</pre>
    </div>
    
}